/* Colors */
:root {
  --color1: #0a3e65;
  --color2: #323232;
  --color3: #27aae1;
  --color4: #ee2a7b;
  --color5: #e3b07e;
  --color6: #0a3e65;
  --color7: #3aa2c2;
  --color8: #3c81cf;
  --color9: #8782e6;
  --color10: #fff200;
  --color11: #ce6e72;
  --color12: #f4f8fd;
}

/* generic styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--color12);
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

/*
 This design will apply when the screen size is between 550px and 915px. 
*/
@media (min-width: 550px) {
}

/*
 This design will apply when the screen size is greater than 915px. 
*/
@media (min-width: 915px) {
}
